.search {
    max-width: 15%;
}

.search .nasdaq {
    color: #51459E;
}

.search  .companies {
    background-color: #fff;
    height: 60%;
    border-radius: 10px;
}

.graph {
    width: 85%;
}

.graph .company {
    color: #51459E;
}

.graph .choose{
    max-width: 10rem;
    margin-bottom: 2rem;
}

.graph .top .bx{
    color: #51459E;
}

.graph .top .date {
    max-width: 10rem;
    max-height: 2rem;
    background-color: #51459E;
}

.graph .choose select {
    background-color: #51459E;
    color: #fff;
}